@import "//at.alicdn.com/t/font_3266037_wrezjwd4c2f.css";

.anticon[class*="IUicon"],.anticon[class*="IUicon"]:before {
  font-family: "IUicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  vertical-align: unset;
}
.anticon[class*="IUicon"]:before {
  display: block;
}

/* IUicon-weixinfang  anticon-hyx-icon-shimingrenzheng_renzhengchenggong */