

.home-page {
	width: 100%;
	flex-direction: column;
	display: flex;
	position: relative;
}
.homeOne{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.homeHeader{
	width: 100%;
	height: 463rpx;
}
.homeInfo{
	width: 690rpx;
	height: 375rpx;
	background: #FFFFFF;
	border-radius: 15rpx;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: -178rpx;
}
.homeInfo_h{
	width: 159rpx;
	height: 159rpx;
	background: #FFFFFF;
	margin: 0 auto;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	margin-top: -77rpx;
}
.homeInfo_hC{
	width: 145rpx;
	height: 145rpx;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 10rpx;
}
.homeInfo_name{
	height: 59rpx;
	font-size: 42rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
	line-height: 59rpx;
	text-align: center;
	margin-top: 25rpx;
}
.homeInfo_ti{
	height: 40rpx;
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 40rpx;
	text-align: center;
	margin-top: 12rpx;
}

.homeInfo_ce{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 35rpx;
}
.homeInfo_ceI{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.homeInfo_ceINum{
	height: 46rpx;
	font-size: 38rpx;
	font-family: DIN-Medium, DIN;
	font-weight: 500;
	color: #030303;
	line-height: 46rpx;
	margin: 0 auto;
	text-align: center;
}
.homeInfo_ceITxt{
	height: 33rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 33rpx;
	margin: 0 auto;
	margin-top: 15rpx;
}
.homeInfo_ceLine{
	width: 1rpx;
	height: 46rpx;
	background: #D8D8D8;
	margin-top: 24rpx;
}


.homeTwo{
	width: 690rpx;
	height: 232rpx;
	background: #FFFFFF;
	border-radius: 15rpx;
	margin: 0 auto;
	margin-top: 20rpx;
	display: flex;
	flex-direction: column;
}
.homeTwoTit{
	height: 48rpx;
	font-size: 34rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #030303;
	line-height: 48rpx;
	margin-top: 28rpx;
	margin-left: 30rpx;
}
.homeTwoLi{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 30rpx;
}
.homeTwoLiIt_img{
	width: 50rpx;
	height: 50rpx;
	margin: 0 auto;
	font-size: 50rpx;
}
.homeTwoLiIt_txt{
	height: 33rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 33rpx;
	text-align: center;
	margin: 0 auto;
	margin-top: 13rpx;
}
.homeThree{
	width: 690rpx;
	height: 300rpx;
	background: #FFFFFF;
	border-radius: 15rpx;
	margin: 0 auto;
	margin-top: 20rpx;
	display: flex;
	flex-direction: column;
}
.homeTwoB{
	width: 100%;
	display: flex;
	/* justify-content: space-around; */
	margin-top: 30rpx;
}
.homeTwoBL{
	display: flex;
	margin-left: 30rpx;
}
.homeTwoBLImg{
	width: 210rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.homeTwoBLImg_1{
	width: 80rpx;
	height: 80rpx;
}
.homeTwoBLImg_2{
	height: 40rpx;
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #333333;
	line-height: 40rpx;
	text-align: center;
	margin: 0 auto;
	margin-top: 20rpx;
}
.homeTwoBLTxt{
	display: flex;
	flex-direction: column;
	margin-left: 20rpx;
}
.homeTwoBLTxt_time{
	height: 46rpx;
	font-size: 36rpx;
	font-family: DIN-Medium, DIN;
	font-weight: 500;
	color: #030303;
	line-height: 46rpx;
}
.homeTwoBLTxt_wendu{
	height: 33rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 33rpx;
	margin-top: 10rpx;
}
.homeTwoBLTxt_tps{
	height: 33rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 33rpx;
	margin-top: 10rpx;
}